@font-face {
    font-family: "Stolzl-Regular";
    src: url("assets/fonts/stolzl_regular.otf") format("OpenType");
}

@font-face {
    font-family: "Stolzl-Book";
    src: url("assets/fonts/stolzl_book.otf") format("OpenType");
}

@font-face {
    font-family: "GothamPro_Black";
    src: url("assets/fonts/gothampro_black.ttf") format("truetype");
}

@font-face {
    font-family: "GothamPro_Bold";
    src: url("assets/fonts/gothampro_bold.ttf") format("truetype");
}

/* Reset styles */
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
    font-family: 'Stolzl-Regular', sans-serif;
    resize: none;
}

.container {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto 0 auto;
}

/* body styles */
body {
    background-color: #210E09;
}

/* Header styles */
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu_item {
    margin-right: 30px;
}

.menu_item a {
    color: white;
    font-size: 14px;
}

.btn {
    color: white;
    border: 1px solid #D5621D;
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

/* First screen styles */
.first_screen {
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
}

.main_screen {
    width: 856px;
    height: 540px;
    background-size: cover;
    margin-right: 24px;
}

.screen_content {
    margin-top: 301px;
    padding-left: 60px;
}

.tag p {
    background-color: white;
    padding: 10px 20px 7px 20px;
    text-transform: uppercase;
    display: inline-flex;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'GothamPro_Bold', sans-serif;
    font-weight: 700;
}

.title_screen p {
    color: white;
    font-family: 'GothamPro_Black', sans-serif;
    width: 623px;
    font-size: 40px;
    line-height: 150%;
    text-transform: uppercase;
}

.timetable {
    max-width: 416px;
}

.timetable_btn {
    display: flex;
}

.select_btn button {
    padding: 12px 10px 7px 10px;
    background: rgba(213, 98, 29, 0.05);
    width: 208px;
    text-align: center;
    border: none;
    border-radius: 5px 5px 0 0;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'GothamPro_Bold', sans-serif;
    cursor: pointer;
}

.select_active button {
    background: rgba(213, 98, 29, 0.10);
}

.immediate {
    background: rgba(213, 98, 29, 0.10);
    padding: 39px 35px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 0 0 5px 5px;
}

.table_item {
    margin-bottom: 26px;
}

/* Kitchen styles */
.kitchen_block {
    margin-top: 120px;
}

.lead {
    text-align: center;
    background: white;
    margin: 0 auto;
    width: max-content;
    padding: 10px 20px 7px;
    border-radius: 5px;
}

.lead p {
    font-family: 'GothamPro_Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.title {
    text-align: center;
    font-family: 'GothamPro_Black', sans-serif;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 40px;
}
.kitchen_content {
    margin-top: 80px;
}

.dishes {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.dish {
    display: flex;
    width: 486px;
    gap: 25px;
    margin: 0 auto;
}

.dish img{
    width: 110px;
    height: 110px;
}

.dish_title {
    width: max-content;
    color: white;
    font-family: 'GothamPro_Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.price {
    color: white;
    border: 2px solid #D5621D;
    padding: 10px 20px 7px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
    float: right;
}

.weight {
    color: #D5621D;
    font-family: 'Stolzl-Regular', sans-serif;
    font-size: 14px;
    margin-top: 5.5px;
    margin-bottom: 10px;
}

.dish_descript {
    color: #FFF;
    font-family: 'Stolzl-Regular', sans-serif;
    font-size: 14px;
    line-height: 150%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev {
    background: url("assets/img/prev_btn.svg") no-repeat center,
    #D5621D;
}

.swiper-button-next {
    background: url("assets/img/next_btn.svg") no-repeat center,
    #D5621D;
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.btn_bg {
    width: max-content;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #D5621D;
    margin: 96px auto 0;
}

.btn_bg a {
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: 'GothamPro_Bold', sans-serif;
}

/* Info_block styles */
.info_block {
    margin-top: 150px;
    display: flex;
    gap: 44px;
}

.text_content {
    margin-top: 35px;
}

.text {
    text-align: center;
    margin-top: 15px;
    color: #FFF;
    font-family: 'Stolzl-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.btn_info {
    margin-top: 50px;
    text-align: center;
}

/* Rider style */
.rider_block {
    margin-top: 150px;
}

.rider_content {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.accordion {
    float: right;
}

.accordion__item {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
    width: 526px; 
    height: max-content;
}
  
.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: #fff;
    font-weight: 700;
    font-family: 'GothamPro_Bold', sans-serif;
    font-size: 18px;
    background: rgba(213, 98, 29, 0.10);;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s ease-out;
}
  
.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    transition: transform 0.2s ease-out;
}
  
.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
}
  
.accordion__header:hover {
    background: #D5621D;
}
  
.accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
  
.accordion__content {
    padding: 0.75rem 1rem;
    background: #fff;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
  
.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.accordion__item.accordion__item_show .accordion__header,
.accordion__item.accordion__item_show .accordion__body {
    background: #D5621D;
}

.accordion__body {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    color: #FFF;
    padding: 7px 0 20px 60px;
    font-size: 14px;
    font-family: 'Stolzl-Regular', sans-serif;
    line-height: 21px;
    background: #D5621D;
}

.accordion__body ul li {
    padding-bottom: 20px;
}

.title_block {
    max-width: 415px;
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-family: 'GothamPro_Black', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 48px;
    letter-spacing: 1.60px;
}

.cards_engineers {
    display: flex;
    margin-top: 50px;
    gap: 25px;
}

.card {
    text-align: center;
}

.name {
    max-width: 126px;
    margin: 30px auto 0;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: 'GothamPro_Bold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.70px;
}

.contacts_engineer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Footer styles */
.footer {
    margin-top: 150px;
}

.footer_info {
    display: flex;
    gap: 24px;
    margin-top: 80px;
}

.info_block_footer {
    max-width: 416px;
    border: 2px solid #D5621D;
    border-radius: 5px;
    background: rgba(213, 98, 29, 0.10);
    padding: 50px;
    box-sizing: border-box;
    color: #FFF;
}

.info_block_footer h3 {
    font-family: 'GothamPro_Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-top: 35px;
}

.info_block_footer h3:first-child {
    margin-top: 0;
}

.info_block_footer p {
    font-family: 'Stolzl-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;
}

.line {
    opacity: 0.5;
    background: #FFF;
    height: 1px;
}

.info_block_footer .line {
    margin: 45px 0 10px;
}

.map_block_footer {
    width: 100%;
    height: 100%;
}

.footer_down {
    margin-top: 100px;
}

.footer_down_content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
}

.footer_down_content p {
    color: #FFF;
    font-family: 'Stolzl-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}

/* Poster styles */
.poster_section {
    margin-top: 55px;
}

.poster_cards {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

.poster_card {
    max-width: 306px;
    max-height: 350px;
}

.poster_img {
    position: absolute;
}

.poster_event {
    width: 100%;
    height: 350px;
}

.poster_info {
    position: relative;
    padding: 188px 79px 37px 35px;
    color: #FFF;
    visibility: hidden;
    transition: all 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.date_and_time {
    background-color: #D5621D;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'GothamPro_Bold', sans-serif;
    width: max-content;
}

.poster_title {
    font-size: 18px;
    font-family: 'GothamPro_Bold', sans-serif;
    line-height: 150%;
    margin-bottom: 15px;
}

.price_event {
    font-family: 'GothamPro_Bold', sans-serif;
    border: 2px solid #D5621D;
    padding: 10px 20px 7px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
}

.poster_card:hover .poster_info {
    visibility: visible;
    background-color: #210e09b7;
}

/* Events styles */
.event_section {
    margin-top: 55px;
}

.events_info {
    margin-top: 100px;
}

.events_info h3 {
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: 'GothamPro_Bold', sans-serif;
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 36px; 
    letter-spacing: 1.20px;
}

.events_info_block {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 80px;
}

.event_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    max-width: 376px;
    text-align: center; 
    color: white; 
    font-size: 20px; 
    font-family: 'Stolzl-Regular', sans-serif; 
    font-weight: 400; 
    line-height: 30px; 
    word-wrap: break-word"
}

.event_info img {
    align-self: center;
}

.why_us_block {
    margin-top: 100px;
}

.why_us_block h3 {
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: 'GothamPro_Bold', sans-serif;
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 36px; 
    letter-spacing: 1.20px;
}

.why_list {
    margin: 60px auto 0;
    max-width: 606px;
    list-style-type: square;
}

.why_item { 
    left: 30px; 
    top: 0px; 
    color: #D5621D; 
    font-size: 18px; 
    font-family: 'Stolzl-Book', sans-serif; 
    font-weight: 400; 
    line-height: 27px; 
    margin-bottom: 20px;
}

.why_item span {
    color: white; 
}

/* Gallery styles */
.gallery_section {
    margin-top: 55px;
}
.gallery_items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.gallery_item {
    max-width: 306px;
    max-height: 350px;
    width: 100%;
}

.gallery_item_hover {
    background-color: #210e09b7;
    width: 306px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s;
}

.gallery_item:hover .gallery_item_hover {
    visibility: visible;
}

/* News styles */
.news_section {
    margin-top: 55px;
}

.news_items {
    margin-top: 100px;
    padding: 0 150px;
}

.news_item {
    border: 2px solid #D5621D;
    border-radius: 5px;
    background-color: rgba(213, 98, 29, 0.10);
    color: #FFF;
    padding: 15px 35px;
    margin-bottom: 24px;
}

.news_title {
    margin-bottom: 15px;
}

.news_text {
    text-align: justify;
}

/* Reservation styles */
.reservation_section {
    margin-top: 55px;
}

.reservation_items {
    margin-top: 100px;
    padding: 0 150px;
}

.info_form {
    margin-bottom: 24px;
    background-color: rgba(213, 98, 29, 0.10);
    border: 2px solid #D5621D;
    border-radius: 5px;
    padding: 15px 35px;
}

.info_form img {
    float: left;
    margin-right: 24px;
}

.text_info {
    color: #FFF;
    text-align: justify;
}

.reservation_item {
    width: 100%;
    margin-bottom: 24px;
}

.reservation_item label {
    display: block;
    color: #FFF;
    font-family: 'GothamPro_Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
}

.reservation_item input {
    box-sizing: border-box;
    width: 100%;
    color: #FFF;
    font-size: 14px;
    background-color: rgba(213, 98, 29, 0.10);
    padding: 10px 15px;
    border: 2px solid #D5621D;
    border-radius: 5px;
}

.reservation_item input:focus {
    outline: none;
}

.reservation_item input[type="time"]::-webkit-calendar-picker-indicator {
    width: 14px;
    height: 14px;
    background: url("assets/img/clock.svg") center no-repeat;
}

.btn_block {
    text-align: center;
    margin: 0 auto;
}

.form_btn {
    background-color: #D5621D;
    color: #FFF;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: 'GothamPro_Bold', sans-serif;
}

/* Menu styles */
.menu_section {
    margin-top: 55px;
}

.menu_items > h3 {
    margin-top: 100px;
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: 'GothamPro_Bold', sans-serif;
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 36px; 
    letter-spacing: 1.20px;
    
}

.menu_items .dishes {
    margin-top: 80px;
    flex-direction: row;
    flex-wrap: wrap;
}
